body {
  font-family: $font-main;
  font-size: $font-size-base;
  background-color: $color-secondary;
  margin: 0;
  padding: 0;
  color: $color-text;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-main;
  margin-bottom: $spacing-small;
  color: $color-primary;
}

p {
  margin-bottom: $spacing-small;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $color-primary;

  &:hover {
    color: $color-accent;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}